<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <%= link_to task.title, task_path(task) %>
    //
    <%= task[:details] %>
    //
    completed: <% if task[:completed] == true %>
      <input type="checkbox" checked disabled=true>
    <% else %>
      <input type="checkbox">
    <% end %>
    <%#= form_for(@task).check_box :completed %>
    //
    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
  <%= link_to "Add new", tasks_new_path %>
</ul>
